<nav class="navbar navbar-default shopping_header">
  <div class="container-fluid">
      <a class="navbar-brand" href="#">Welcome Shopping</a>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/home/{{userID}}">Products</a></li>
        <li class="active"><a href="/checkout/{{userID}}">Checkout</a></li>
        <li><a href="/history/{{userID}}">History</a></li>
        <li><a ng-click="signOut()">Sign out</a></li>
      </ul>
    </div>
</nav>

<div class="container products">
  <table class="table">
    <thead>
      <th>Name</th>
      <th>Price</th>
      <th></th>
    </thead>
    <tr ng-repeat="prd in checkOutArray track by $index">
      <td>{{prd.productName}}</td>
      <td>{{prd.Price}}</td>
      <td>
        <button class="btn btn-primary" ng-click="checkout(prd)">CheckOut</button>
        <button class="btn btn-danger" ng-click="remove(prd)">Remove</button>
      </td>
    </tr>
  </table>
</div>

